@CHARSET "ISO-8859-1";

.comments{
	padding: 5px;
	box-shadow: 0 0 20px #464646;
	background-color: white !important;
	min-height: 100%;
    height: 95vh;
    box-shadow: 0 0 20px #464646;
    padding:20px 40px 20px 40px !important;
}
.title-link:hover{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}